.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-inner{
    width: 600px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.input-box {
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.botoncito {
    padding: 10px 70px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.popup-inner input {
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.close-btn{
    margin-top: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.close-btn2{
    margin-top: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    
}

.component1{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52.5%);
    padding: 20px;
    z-index: 1000;
    
}

.component2{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52.5%);
    padding: 20px;
    z-index: 1000;
}